<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566246125587-s35l5ns61vkkl7912djlppfnhpksrjpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566246125587-s35l5ns61vkkl7912djlppfnhpksrjpl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>566246125587-4bpcfut3aitai53aepbnikoh0hg5i1jh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASElzXpgjoxt6Puo_VJVyuakj1BhMAE74</string>
	<key>GCM_SENDER_ID</key>
	<string>566246125587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devopsti.scooter.merchant</string>
	<key>PROJECT_ID</key>
	<string>scooter-277719</string>
	<key>STORAGE_BUCKET</key>
	<string>scooter-277719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566246125587:ios:3d0d1221902820c09acfe6</string>
	<key>DATABASE_URL</key>
	<string>https://scooter-277719.firebaseio.com</string>
</dict>
</plist>